{% extends "admin/layout.html.twig" %}

{% block title "Paramètre" %}

{% block title_h1 "Modifier mon mot de passe" %}

{% block body %}
{% form_theme form 'bootstrap_5_layout.html.twig' %} 
    <div class="form-center mt-4">
        <div class="col-5">
            <div class="content">
                {{ form(form,{'attr': {'novalidate': 'novalidate'}} ) }}

            </div>
        </div>
    </div>
{% endblock %}
