<script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>

<form id="deleteForm" method="post" action="{{ path('app_activitee_delete', {'id': activitee.id}) }}">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ activitee.id) }}">
    <button id="deleteButton" class="btn btn-danger">Delete</button>
</form>

<script>
    document.getElementById('deleteButton').addEventListener('click', function(event) {
        event.preventDefault();

        Swal.fire({
            title: 'Are you sure?',
            text: "You won't be able to revert this!",
            icon: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#3085d6',
            cancelButtonColor: '#d33',
            confirmButtonText: 'Yes, delete it!'
        }).then((result) => {
            if (result.isConfirmed) {
                document.getElementById('deleteForm').submit();

                Swal.fire(
                    'Deleted!',
                    'Your file has been deleted.',
                    'success'
                );
            }
        });
    });
</script>