{% extends 'base.html.twig' %}

{% block title %}Activite edit{% endblock %}

{% block body %}
    <h1>Edit Activitee</h1>

    {{ include('activitee/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_activitee_index') }}">back to list</a>

    {{ include('activitee/_delete_form.html.twig') }}
{% endblock %}










