{% extends 'base.html.twig' %}

{% block title %}Activite edit{% endblock %}

{% block body %}
  <div class="container" style="text-align:center" >
    <h1>Modifier activité</h1>
<div class="button-group">
    {{ include('activitee/_form.html.twig', {'button_label': 'Update'}) }}

        <a href="{{ path('app_activitee_index') }}" class="btn btn-primary">Back to list</a>

    {{ include('activitee/_delete_form.html.twig') }}
     </div>
    </div>
{% endblock %}










