 {% extends 'base.html.twig' %}

{% block title %}Activite new{% endblock %}

{% block body %}
    <h1>Nouvelle Activite</h1>

    {{ include('activitee/_form.html.twig') }}

    <a href="{{ path('app_activitee_index') }}">back to list</a>
{% endblock %}
