{% extends 'baseback.html.twig' %}
 {% block title %}Activitee back edit{% endblock %}

{% block body %}

        <h1>Modifier Activité</h1>
    {{ include('activitee_back/_form.html.twig', {'button_label': 'Update'}) }}

<a href="{{ path('app_activitee_back_index') }}" class="btn btn-primary">Back to list</a>

    {{ include('activitee_back/_delete_form.html.twig') }}
{% endblock %}
  