{% extends 'baseback.html.twig' %}
 {% block title %}Activitee back new{% endblock %}

{% block body %}
      <h1>Create new Activite</h1>

    {{ include('categorie_back_c/_form.html.twig') }}

    <a href="{{ path('app_categorie_back_c_index') }}">back to list</a>
{% endblock %}

