{% extends 'base.html.twig' %}

{% block title %}New Activitee{% endblock %}

{% block body %}
    <h1>Create new Activitee</h1>

    {{ include('activitee_back/_form.html.twig') }}

    <a href="{{ path('app_activitee_back_index') }}">back to list</a>
{% endblock %}
