<div class="container" >
<div class="row no-gutters slider-text  align-items-center" data-scrollax-parent="true">
{{ form_start(form,{'attr' : { 'novalidate' :'novalidate'}} ) }}
    {{ form_widget(form) }}
    <button class="btn">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}
<div>
</div>
<script>
