 {% extends 'base.html.twig' %}

{% block title %}Categorie new{% endblock %}

{% block body %}
    <div class="container" style="text-align:center" >
     <h1>Nouvelle Categorie</h1>

    {{ include('categorie/_form.html.twig') }}
            <a href="{{ path('app_categorie_index') }}" class="btn btn-primary">Back to list</a>
            <a href="{{ path('app_activitee_new') }}" class="btn btn-secondary">Ajouter activite</a>

   </div>
 
{% endblock %}
