{% extends 'baseBack.html.twig' %}

{% block title %}New Logement{% endblock %}


{% block body %}
	
    <div class="row justify-content-center mt-5">
        <div class="col-md-6">
            <div class="card shadow">
                <div class="card-body">
                    <h2 class="card-title mb-4">New Logement Form</h2>
                      {{ include('logement_back/_form.html.twig') }}

                </div>
            </div>
        </div>
    </div>

    <div class="text-center mt-4">
       <a href="{{ path('app_logement_back_index') }}">back to list</a>
    </div>
</div>
{% endblock %}